#body {
         
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.email-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.btn-reset {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.btn-reset:hover {
    background-color: #218838;
}

.footer-text {
    margin-top: 20px;
    font-size: 12px;
    color: #bbb;
}

.divider {
    border-top: 1px solid #555;
    margin: 20px 0;
}

a {
    color: #28a745;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}